@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game Index</h2>
<div style="width:50%; float:left">
    <input type="button" id="#ajaxButton" value="Ajax"/>
</div>
<div style="width:50%; float:left">
    @Html.Partial("_Stats")
</div>

<script type="text/javascript">

</script>